@import "inc/variables";

.sidebar {
  width: 280px;
  height: calc(100vh - 60px);
  position: fixed;
  top: 60px;
  left: 0;
  background-color: #ffffff;
  border-right: 1px solid $defaultLighterColor;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.25s;
  z-index: 999;

  .sidebar-footer {
    height: 50px;
    align-items: center;
    display: flex;
    padding: 5px 30px;
    font-size: .8rem;
  }

  &.collapsed-sidebar {
    &:not(:hover) {
      width: auto;

      .sidebar-footer {
        display: none;
      }
    }
  }
}
