// Fonts
$defaultFont: 'PT Sans', sans-serif;

// Colors
$defaultColor: #637381;
$defaultDarkColor: #030303;
$defaultLightColor: #9fa5a9;
$defaultLighterColor: #dfe4e8;
$borderColor: lighten($defaultColor, 60%);

$primaryColor: #5E6CC5;
$primaryDarkColor: #414b89;
$primaryLightColor: #9ea6dc;
$primaryLighterColor: #eef0f9;

$secondaryColor: #FF9B0D;
$secondaryLightColor: #ffcd86;
$secondaryLighterColor: #ffebce;

$purpleColor: #8c52ff;
$lightGreenColor: #B1D328;
$blueColor: #38b6ff;
$blueLightColor: #E1F4FF;
$yellowColor: #FFDE59;
$orangeColor: #ff914d;
$orangeLightColor: #FFEFE4;
